<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name = "viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        Testing <% console.log(aDonuts); %>
        <% for (let iCount=0; iCount < aDonuts.length; iCount++) { %>
            <%= aDonuts[iCount].Firstname %> <%= aDonuts[iCount].Lastname %> <br/>
        <% } %>
    </body>
</html>
